$primary-color: #906847;
$accent-color: #3e2522;
$background-color: #d6d0cd;
$text-color: #000;

$color-1: #fff2df;
$color-1: #ffe0b2;
$color-1: #d3a376;
$color-1: #8c6e63;
$color-1: #3e2522;

$xs: 360px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;